<div class = "horizontal ps-3 py-2">
    
        <div class = "pt-3">
            <div class = "container">
            <div class = "row">
              <div class ="col-8">
                <%= render 'form', opinion: @opinion %>
                    <div>
                        <h4 class = "py-4">Recent Opinions</h4>
                        <div>
                        <% @opinions.each do | opinion | %>
                            <div class="d-flex g-light border px-2 py-2 my-1">
                                <div class = "py-2 pe-2">
                                    <%= profile_photo(opinion.author) %>
                                </div>

                                <div>
                                    <div class="fw-bold py-2"><%= link_to "#{opinion.author.username}", user_path(opinion.author), class: "text-decoration-none" %></div>
                                    <p class = "pb-2"><%= opinion.text %></p>
                                        <div>
                                            <%= link_to opinion do %>
                                                <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
                                            <% end %>
                                            <%= link_to edit_opinion_path(opinion) do %>
                                                <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                            <% end %>
                                            <%= link_to opinion, method: :delete, data: { confirm: "Are you sure you want to delete this tweet?"} do %>
                                                <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                                            <% end %>
                                        </div>
                                </div>
                            </div>
                        <% end %>
                        </div>
                    </div>
              </div>


                    <div class = "col">
                        <h3 class = "bold color-grey">Who to follow</h3>
                         <% User.all.each do | user | %>
                            <% if !current_user.followed_users.include?(user) and current_user != user%>
                            <div class ="d-flex py-2 justify-content-between">
                              
                                <div class = "py-2 pe-2">
                                    <%= profile_photo(user) %>
                                </div>
                                <div class = "px-2 pt-3">
                                    <%= user.fullname %>
                                </div>
                                <div class ="pt-2">
                                    <%= button_to "Follow", follow_user_path(user.id), method: "POST", class: "btn btn-primary btn-sm align-self-end"  %>
                                </div>
                            </div>
                            <% end %>
                            
                        <% end  %>
                        
                    
                </div>
            </div>    </div>
        </div>
</div>










