    <div class = "horizontal">
        <div>
            <h1><%= @user.username %> Profile </h1>
        </div>

            <% if @user.id == current_user.id %>
                <%= button_to "Sign_out", '/logout', method: :post %>
            <% elsif current_user.followed_users.include?(@user) %>
                <%= link_to "Unfollow", following_path(@user), method: :delete, class: "btn btn-primary" if current_user.following?(@user) %> 
            <% else %>
                <h5><%= button_to "Follow", follow_user_path, method: "POST", class: "btn btn-primary"  %></h5>
            <% end%>
            

        <div>
            <ul>
            <% @user.opinions.each do | opinion | %>
            <li>
                <%= @user.username %>
                <%= opinion.text %>
                <%= opinion.created_at %>
            </li>
            <% end %>
            </ul>
        </div>
    </div>