    <div class = "horizontal">
        <div>
            <h1><%= @user.username %> Profile </h1>
        </div>

        <% unless current_user == @user %>
        
        <% unless current_user.following?(@user) %>
            <% form_for (current_user.follower_relationships.build) do | f | %>
                <%= hidden_field_tag :followedid, @user.id %>
                <%= f.submit 'Follow', class: "btn btn-primary my-button" %>  
            <% end %>
        <% end %>
            <%= link_to "Unfollow", following_path(@user), method: :delete, class: "btn btn-primary" if current_user.following?(@user) %> 
            
        <% end %>


        <div>
            <ul>
            <% @user.opinions.each do | opinion | %>
            <li>
                <%= @user.username %>
                <%= opinion.text %>
                <%= opinion.created_at %>
            </li>
            <% end %>
            </ul>
        </div>
    </div>